@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-gray-900 transition-colors duration-300 antialiased dark:bg-obsidian dark:text-gray-100;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-gray-900 transition-colors duration-300 antialiased dark:bg-obsidian dark:text-gray-100;
  }
}

/* Custom scrollbar to look premium */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100 dark:bg-obsidian;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 hover:bg-gray-500 dark:bg-gray-800 dark:hover:bg-gray-700 rounded-full;
}